*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --secondarycolor: #20C997;
    --maincolor: #ffffff;
    --thirdcolor: #dee3e4;
    --heading-background-text:#6c757d;
}

h1{
    color: var(--maincolor);
    font-size: 60px;
    font-weight: 600;
}

h2{
    font-size: 36px;
    color: var(--maincolor);
    font-weight: 600;
    position: relative;
    
}

h3{
    color: var(--maincolor);
    font-size: 28px;
    font-weight: 600;
}
p{
    color: var(--heading-background-text);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

p b{
    color: var(--maincolor);
}


.background-heading-h2{
    color: var(--heading-background-text);
    font-size: 130px;
    position: relative;
    top: 85px;
    opacity: .1;
}

hr{
    color: var(--secondarycolor);
    width: 80px;
    border-width: 3px;
    margin: auto;    
}

span{
    color: var(--secondarycolor);
}

/* Hero Section CSS */

.herosection{
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(16, 16, 16, 0.9)),url("./images/herosection6.jpg") no-repeat fixed center center;
    background-size: cover;
    /* box-shadow: inset 0 0 0 2000px rgba(91, 91, 91, 0.3); */
}   

.herosection h1{
    
    margin: 20px 0px;

}

/* .herosection h1 span{
    color: var(--secondarycolor);
} */

.herosection h2:first-child{
    font-size: 28px;
    font-weight: 600;
    color:var(--maincolor)
}
.herosection h2{
    color: var(--thirdcolor);
    font-size: 21px;
    font-weight: 500;
}
.herosection button{
    border: 2px solid var(--secondarycolor);
    border-radius: 30px;
    padding: 15px 30px;
    background-color: transparent;   
    
}
.herosection button a{ 
    color:var(--secondarycolor);
    text-decoration: none;
}

/* Know me more */

.my-info hr{
    color: var(--maincolor);
    width: 100%;
    border-width: 1px;
    margin: 6px 0px;
}

.my-info p{
    font-size: 20px;
    font-weight: 500;
    color: var(--thirdcolor);
}

.my-achivements div{
    border-right: 1px solid var(--thirdcolor);
    
}

.my-achivements div:last-child{
    border: none;
}








